.header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #2196F3;

.nav {
  height: 4rem;
  display: flex;
  margin-left: 3.75rem;

  .nav-link {
    padding: 1.3rem 1.5rem;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s;

  &:hover {
     background-color: #1E88E5;
   }

  &.active {
        background-color: #1565c0;
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width: 785px) {
  .nav-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 481px) {
  .nav-link {
    display: none;
  }
}